<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>live_bid</string>
		<key>title</key>
		<string>业务标识</string>
		<key>value</key>
		<string>demo</string>
	</dict>
	<dict>
		<key>image</key>
		<string>live_cid</string>
		<key>title</key>
		<string>服务标识</string>
		<key>value</key>
		<string>ilive_demo</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Interactive_key</string>
		<key>title</key>
		<string>AppKey</string>
		<key>value</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>Interactive_key</string>
		<key>title</key>
		<string>AppSecret</string>
		<key>value</key>
		<string></string>
	</dict>
</array>
</plist>
