<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>亮度</string>
		<key>min</key>
		<integer>-100</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>BrightnessValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>对比度</string>
		<key>min</key>
		<integer>-100</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>ContrastValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>曝光度</string>
		<key>min</key>
		<integer>-100</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>ExposureValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>补偿</string>
		<key>min</key>
		<integer>-100</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>GammaOffsetValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>色温</string>
		<key>min</key>
		<integer>-100</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>TemperatureValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>色调</string>
		<key>min</key>
		<integer>-100</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>TintValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>饱和度</string>
		<key>min</key>
		<integer>-100</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>SaturationValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>色相</string>
		<key>min</key>
		<integer>-180</integer>
		<key>max</key>
		<integer>180</integer>
		<key>func</key>
		<string>HueValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鲜艳度</string>
		<key>min</key>
		<integer>-100</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>VibranceValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>暗角</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>VignetteValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>色散</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>PrismValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>褪色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>FadeValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高光减弱</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>HighlightValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阴影补偿</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>ShadowValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肤色</string>
		<key>min</key>
		<integer>-100</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>SkinValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>锐度</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>SharpenValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>颗粒噪声</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>FilmGrainValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模糊</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>BlurValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高光橙色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>HighlightOrangeValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高光奶油色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>HighlightCreamValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高光黄色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>HighlightYellowValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高光绿色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>HighlightGreenValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高光蓝色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>HighlightBlueValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>高光洋红色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>HighlightMagentaValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阴影红色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>ShadowRedValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阴影橙色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>ShadowOrangeValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阴影黄色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>ShadowYellowValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阴影绿色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>ShadowGreenValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阴影蓝色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>ShadowBlueValue</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阴影紫色</string>
		<key>min</key>
		<integer>0</integer>
		<key>max</key>
		<integer>100</integer>
		<key>func</key>
		<string>ShadowPurpleValue</string>
	</dict>
</array>
</plist>
