<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>公共参数设置</string>
		<key>subTitle</key>
		<string></string>
		<key>config</key>
		<array>
			<dict>
				<key>title</key>
				<string>调试环境</string>
				<key>options</key>
				<array>
					<string>正式环境</string>
					<string>测试环境</string>
				</array>
				<key>index</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>通信方式</string>
				<key>options</key>
				<array>
					<string>全选</string>
					<string>P2P</string>
					<string>云端</string>
					<string>IP直连</string>
				</array>
				<key>index</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>指标耗时</string>
				<key>options</key>
				<array>
					<string>隐藏</string>
					<string>显示</string>
				</array>
				<key>index</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>对讲模式</string>
				<key>options</key>
				<array>
					<string>音频</string>
					<string>视频</string>
				</array>
				<key>index</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>解码方式</string>
				<key>options</key>
				<array>
					<string>软解</string>
					<string>硬解</string>
				</array>
				<key>index</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>播放器数据驱动</string>
				<key>options</key>
				<array>
					<string>被动接收</string>
					<string>主动拉取</string>
				</array>
				<key>index</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>码流类型</string>
				<key>options</key>
				<array>
					<string>主码流</string>
					<string>子码流</string>
					<string>第三码流</string>
				</array>
				<key>index</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
