<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>公共参数设置</string>
		<key>subTitle</key>
		<string></string>
		<key>config</key>
		<array>
			<dict>
				<key>title</key>
				<string>调试环境</string>
				<key>options</key>
				<array>
					<string>正式环境</string>
					<string>测试环境</string>
				</array>
				<key>index</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>视频采集方式</string>
				<key>options</key>
				<array>
					<string>SDK采集</string>
					<string>外部采集</string>
				</array>
				<key>index</key>
				<string>0</string>
			</dict>
			<dict>
				<key>title</key>
				<string>编码方式</string>
				<key>options</key>
				<array>
					<string>软解码</string>
					<string>硬解码</string>
				</array>
				<key>index</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>主播模式</string>
		<key>subTitle</key>
		<string>该模式适合主播</string>
		<key>index</key>
		<string>6</string>
		<key>config</key>
		<array>
			<dict>
				<key>title</key>
				<string>视频配置</string>
				<key>key</key>
				<string>name</string>
				<key>enableSelect</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>分辨率</string>
				<key>key</key>
				<string>res</string>
			</dict>
			<dict>
				<key>title</key>
				<string>视频帧率</string>
				<key>key</key>
				<string>fps</string>
			</dict>
			<dict>
				<key>title</key>
				<string>视频码率</string>
				<key>key</key>
				<string>kbps</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>嘉宾模式</string>
		<key>subTitle</key>
		<string>该模式适合嘉宾</string>
		<key>index</key>
		<string>6</string>
		<key>config</key>
		<array>
			<dict>
				<key>title</key>
				<string>视频配置</string>
				<key>key</key>
				<string>name</string>
				<key>enableSelect</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>分辨率</string>
				<key>key</key>
				<string>res</string>
			</dict>
			<dict>
				<key>title</key>
				<string>视频帧率</string>
				<key>key</key>
				<string>fps</string>
			</dict>
			<dict>
				<key>title</key>
				<string>视频码率</string>
				<key>key</key>
				<string>kbps</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
