<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>模板240P_3</string>
		<key>profileIndex</key>
		<string>22</string>
		<key>res</key>
		<string>240*240</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>140</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板240P_4</string>
		<key>profileIndex</key>
		<string>23</string>
		<key>res</key>
		<string>424*240</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>220</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板360P</string>
		<key>profileIndex</key>
		<string>30</string>
		<key>res</key>
		<string>640*360</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板360P_3</string>
		<key>profileIndex</key>
		<string>32</string>
		<key>res</key>
		<string>360*360</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>260</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板360P_4</string>
		<key>profileIndex</key>
		<string>33</string>
		<key>res</key>
		<string>640*360</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>600</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板360P_6</string>
		<key>profileIndex</key>
		<string>35</string>
		<key>res</key>
		<string>360*360</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板360P_9</string>
		<key>profileIndex</key>
		<string>38</string>
		<key>res</key>
		<string>640*360</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>800</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板480P_3</string>
		<key>profileIndex</key>
		<string>42</string>
		<key>res</key>
		<string>480*480</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板480P_6</string>
		<key>profileIndex</key>
		<string>45</string>
		<key>res</key>
		<string>480*480</string>
		<key>fps</key>
		<string>30</string>
		<key>kbps</key>
		<string>600</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板480P_8</string>
		<key>profileIndex</key>
		<string>47</string>
		<key>res</key>
		<string>848*480</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>610</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板480P_9</string>
		<key>profileIndex</key>
		<string>48</string>
		<key>res</key>
		<string>848*480</string>
		<key>fps</key>
		<string>30</string>
		<key>kbps</key>
		<string>930</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板720P</string>
		<key>profileIndex</key>
		<string>50</string>
		<key>res</key>
		<string>1280*720</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>1130</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板720P_3</string>
		<key>profileIndex</key>
		<string>52</string>
		<key>res</key>
		<string>1280*720</string>
		<key>fps</key>
		<string>30</string>
		<key>kbps</key>
		<string>1710</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板504P_1</string>
		<key>profileIndex</key>
		<string>100</string>
		<key>res</key>
		<string>896*504</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>800</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板576P_1</string>
		<key>profileIndex</key>
		<string>110</string>
		<key>res</key>
		<string>1024*576</string>
		<key>fps</key>
		<string>15</string>
		<key>kbps</key>
		<string>900</string>
	</dict>
</array>
</plist>
