<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>无</string>
		<key>icon</key>
		<string>edit_item</string>
		<key>info</key>
		<dict/>
	</dict>
	<dict>
		<key>name</key>
		<string>拉远</string>
		<key>icon</key>
		<string>edit_item</string>
		<key>info</key>
		<dict>
			<key>fromScale</key>
			<real>1.2</real>
			<key>toScale</key>
			<real>1</real>
			<key>fromX</key>
			<integer>0</integer>
			<key>toX</key>
			<integer>0</integer>
			<key>fromY</key>
			<integer>0</integer>
			<key>toY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>推近</string>
		<key>icon</key>
		<string>edit_item</string>
		<key>info</key>
		<dict>
			<key>fromScale</key>
			<real>1</real>
			<key>toScale</key>
			<real>1.2</real>
			<key>fromX</key>
			<integer>0</integer>
			<key>toX</key>
			<integer>0</integer>
			<key>fromY</key>
			<integer>0</integer>
			<key>toY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>上移</string>
		<key>icon</key>
		<string>edit_item</string>
		<key>info</key>
		<dict>
			<key>fromScale</key>
			<real>1.2</real>
			<key>toScale</key>
			<real>1.2</real>
			<key>fromX</key>
			<integer>0</integer>
			<key>toX</key>
			<integer>0</integer>
			<key>fromY</key>
			<real>-0.1</real>
			<key>toY</key>
			<real>0.1</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>下移</string>
		<key>icon</key>
		<string>edit_item</string>
		<key>info</key>
		<dict>
			<key>fromScale</key>
			<real>1.2</real>
			<key>toScale</key>
			<real>1.2</real>
			<key>fromX</key>
			<integer>0</integer>
			<key>toX</key>
			<integer>0</integer>
			<key>fromY</key>
			<real>0.1</real>
			<key>toY</key>
			<real>-0.1</real>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>左移</string>
		<key>icon</key>
		<string>edit_item</string>
		<key>info</key>
		<dict>
			<key>fromScale</key>
			<real>1.2</real>
			<key>toScale</key>
			<real>1.2</real>
			<key>fromX</key>
			<real>0.1</real>
			<key>toX</key>
			<real>-0.1</real>
			<key>fromY</key>
			<integer>0</integer>
			<key>toY</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>右移</string>
		<key>icon</key>
		<string>edit_item</string>
		<key>info</key>
		<dict>
			<key>fromScale</key>
			<real>1.2</real>
			<key>toScale</key>
			<real>1.2</real>
			<key>fromX</key>
			<real>-0.1</real>
			<key>toX</key>
			<real>0.1</real>
			<key>fromY</key>
			<integer>0</integer>
			<key>toY</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
