<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>无</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>灵魂摆动</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SoulSwing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>空间隧道</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>Stretch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炫酷转动</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>CoolRotation</string>
	</dict>
	<dict>
		<key>name</key>
		<string>字节跳动</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>ByteDance</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炫彩边缘</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>BrightEdge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>燥起来</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>DryUp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>魔法菲林</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>FilmMagic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>动感分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>MultiScreen</string>
	</dict>
	<dict>
		<key>name</key>
		<string>虚拟镜像</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>VirtualMirror</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eglow</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>EGlow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闪白</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>FlashWhite</string>
	</dict>
	<dict>
		<key>name</key>
		<string>左右二分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreen1x2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上下二分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreen2x1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水平三分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreen1x3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>垂直三分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreen3x1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水平黑白三分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreenGray1x3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>垂直黑白三分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreenGray3x1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>四分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreen2x2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>六分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreen2x3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>九分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreen3x3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>十六分屏</string>
		<key>icon</key>
		<string>edit_motion_effect_icon</string>
		<key>effect</key>
		<string>SplitScreen4x4</string>
	</dict>
</array>
</plist>
