<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>剪辑</string>
		<string>edit_tailor</string>
		<string>QHVCEditTailorMainView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>滤镜</string>
		<string>edit_filter</string>
		<string>QHVCEditFilterView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>贴纸</string>
		<string>edit_sticker</string>
		<string>QHVCEditStickerView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>动态贴纸</string>
		<string>edit_dynamic_sticker</string>
		<string>QHVCEditDynamicStickerView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>字幕</string>
		<string>edit_subtitle</string>
		<string>QHVCEditSubtitleView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>水印</string>
		<string>edit_watermark</string>
		<string>QHVCEditWatermarkView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>马赛克</string>
		<string>edit_mosaic</string>
		<string>QHVCEditMosaicView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>倍速</string>
		<string>edit_speed</string>
		<string>QHVCEditSpeedView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>音乐</string>
		<string>edit_audio</string>
		<string>QHVCEditMusicView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>音效</string>
		<string>edit_alter_sound</string>
		<string>QHVCEditAlterSoundView</string>
		<integer>0</integer>
		<integer>30</integer>
	</array>
	<array>
		<string>转场</string>
		<string>edit_transition</string>
		<string>QHVCEditTransitionView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>画中画</string>
		<string>edit_overlay</string>
		<string>QHVCEditOverlayFunctionsView</string>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>webm</string>
		<string>edit_webm</string>
		<string>QHVCEditWebmView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<string>单色调色</string>
		<string>edit_monochrome</string>
		<string>QHVCEditMonochromeView</string>
		<integer>0</integer>
		<integer>0</integer>
	</array>
</array>
</plist>
