<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>彩色晶格</string>
		<string>edit_transfer_dissolution</string>
		<string>Hexagonalize</string>
	</array>
	<array>
		<string>昆虫眼</string>
		<string>edit_transfer_dissolution</string>
		<string>FlyEye</string>
	</array>
	<array>
		<string>像素风</string>
		<string>edit_transfer_dissolution</string>
		<string>Pixelize</string>
	</array>
	<array>
		<string>向下坍塌</string>
		<string>edit_transfer_dissolution</string>
		<string>Bounce</string>
	</array>
	<array>
		<string>对角畸变</string>
		<string>edit_transfer_dissolution</string>
		<string>DirectionalWarp</string>
	</array>
	<array>
		<string>相片拼贴</string>
		<string>edit_transfer_dissolution</string>
		<string>Mosaic</string>
	</array>
	<array>
		<string>波纹畸变</string>
		<string>edit_transfer_dissolution</string>
		<string>ButterflyWaveScrawler</string>
	</array>
	<array>
		<string>万花筒</string>
		<string>edit_transfer_dissolution</string>
		<string>KaleidoScope</string>
	</array>
	<array>
		<string>开门推入</string>
		<string>edit_transfer_dissolution</string>
		<string>Doorway</string>
	</array>
	<array>
		<string>透视旋转</string>
		<string>edit_transfer_dissolution</string>
		<string>RotateScaleFade</string>
	</array>
	<array>
		<string>倒影推入</string>
		<string>edit_transfer_dissolution</string>
		<string>Swap</string>
	</array>
	<array>
		<string>透视擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>CrossWarp</string>
	</array>
	<array>
		<string>立方体</string>
		<string>edit_transfer_dissolution</string>
		<string>Cube</string>
	</array>
	<array>
		<string>像素瓦解</string>
		<string>edit_transfer_dissolution</string>
		<string>DoomScreen</string>
	</array>
	<array>
		<string>色彩距离</string>
		<string>edit_transfer_dissolution</string>
		<string>ColourDistance</string>
	</array>
	<array>
		<string>对角擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>DirectionalWipe</string>
	</array>
	<array>
		<string>方块擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>SquareSwire</string>
	</array>
	<array>
		<string>风沙擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>Wind</string>
	</array>
	<array>
		<string>白色闪光</string>
		<string>edit_transfer_dissolution</string>
		<string>DreamyZoom</string>
	</array>
	<array>
		<string>乘法叠化</string>
		<string>edit_transfer_dissolution</string>
		<string>MultiplyBlend</string>
	</array>
	<array>
		<string>胶片燃烧</string>
		<string>edit_transfer_dissolution</string>
		<string>Burn</string>
	</array>
	<array>
		<string>梦醒时分</string>
		<string>edit_transfer_dissolution</string>
		<string>Dreamy</string>
	</array>
	<array>
		<string>条纹叠化</string>
		<string>edit_transfer_dissolution</string>
		<string>WindowBlinds</string>
	</array>
	<array>
		<string>极寒之地</string>
		<string>edit_transfer_dissolution</string>
		<string>GlitchDisplace</string>
	</array>
	<array>
		<string>色彩偏移</string>
		<string>edit_transfer_dissolution</string>
		<string>ColorPhase</string>
	</array>
	<array>
		<string>水波纹</string>
		<string>edit_transfer_dissolution</string>
		<string>Ripple</string>
	</array>
	<array>
		<string>纸翻书</string>
		<string>edit_transfer_dissolution</string>
		<string>InvertedPageCurl</string>
	</array>
	<array>
		<string>幻灯片</string>
		<string>edit_transfer_dissolution</string>
		<string>StereoViewer</string>
	</array>
	<array>
		<string>垂直刮擦</string>
		<string>edit_transfer_dissolution</string>
		<string>LuminanceMelt</string>
	</array>
	<array>
		<string>胶片溶解</string>
		<string>edit_transfer_dissolution</string>
		<string>Perlin</string>
	</array>
	<array>
		<string>大漩涡</string>
		<string>edit_transfer_dissolution</string>
		<string>Swirl</string>
	</array>
	<array>
		<string>拼图版</string>
		<string>edit_transfer_dissolution</string>
		<string>GridFlip</string>
	</array>
	<array>
		<string>胖海星</string>
		<string>edit_transfer_dissolution</string>
		<string>PolarFunction</string>
	</array>
	<array>
		<string>光线擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>Pinwheel</string>
	</array>
	<array>
		<string>心形擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>Heart</string>
	</array>
	<array>
		<string>随机方格</string>
		<string>edit_transfer_dissolution</string>
		<string>RandomSquares</string>
	</array>
	<array>
		<string>圆形擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>CircleOpen</string>
	</array>
	<array>
		<string>推近</string>
		<string>edit_transfer_dissolution</string>
		<string>PushClose</string>
	</array>
	<array>
		<string>拉远</string>
		<string>edit_transfer_dissolution</string>
		<string>PullAway</string>
	</array>
	<array>
		<string>左转</string>
		<string>edit_transfer_dissolution</string>
		<string>RotateLeft</string>
	</array>
	<array>
		<string>右转</string>
		<string>edit_transfer_dissolution</string>
		<string>RotateRight</string>
	</array>
	<array>
		<string>左滑</string>
		<string>edit_transfer_dissolution</string>
		<string>SlideLeft</string>
	</array>
	<array>
		<string>右滑</string>
		<string>edit_transfer_dissolution</string>
		<string>SlideRight</string>
	</array>
	<array>
		<string>上滑</string>
		<string>edit_transfer_dissolution</string>
		<string>SlideUp</string>
	</array>
	<array>
		<string>下滑</string>
		<string>edit_transfer_dissolution</string>
		<string>SlideDown</string>
	</array>
	<array>
		<string>左上</string>
		<string>edit_transfer_dissolution</string>
		<string>TopLeft</string>
	</array>
	<array>
		<string>左下</string>
		<string>edit_transfer_dissolution</string>
		<string>BottomLeft</string>
	</array>
	<array>
		<string>右上</string>
		<string>edit_transfer_dissolution</string>
		<string>TopRight</string>
	</array>
	<array>
		<string>右下</string>
		<string>edit_transfer_dissolution</string>
		<string>BottomRight</string>
	</array>
</array>
</plist>
