<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>无</string>
		<string>edit_transfer_un</string>
		<string>none</string>
	</array>
	<array>
		<string>模糊叠化</string>
		<string>edit_transfer_dissolution</string>
		<string>LinearBlur</string>
	</array>
	<array>
		<string>信号干扰</string>
		<string>edit_transfer_dissolution</string>
		<string>GlitchMemories</string>
	</array>
	<array>
		<string>十字缩放</string>
		<string>edit_transfer_dissolution</string>
		<string>CrossZoom</string>
	</array>
	<array>
		<string>向下滚动</string>
		<string>edit_transfer_dissolution</string>
		<string>Directional</string>
	</array>
	<array>
		<string>光圈缩放</string>
		<string>edit_transfer_dissolution</string>
		<string>ZoominCircles</string>
	</array>
	<array>
		<string>百叶窗</string>
		<string>edit_transfer_dissolution</string>
		<string>Windowslice</string>
	</array>
	<array>
		<string>垂直三角</string>
		<string>edit_transfer_dissolution</string>
		<string>BowTieVertical</string>
	</array>
	<array>
		<string>水平三角</string>
		<string>edit_transfer_dissolution</string>
		<string>BowTieHorizontal</string>
	</array>
	<array>
		<string>向右擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>WipeRight</string>
	</array>
	<array>
		<string>向左擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>WipeLeft</string>
	</array>
	<array>
		<string>向上擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>WipeUp</string>
	</array>
	<array>
		<string>向下擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>WipeDown</string>
	</array>
	<array>
		<string>时针擦除</string>
		<string>edit_transfer_dissolution</string>
		<string>Radial</string>
	</array>
	<array>
		<string>淡入淡出</string>
		<string>edit_transfer_dissolution</string>
		<string>Fade</string>
	</array>
	<array>
		<string>黑色渐变</string>
		<string>edit_transfer_dissolution</string>
		<string>FadeColor</string>
	</array>
	<array>
		<string>白色渐变</string>
		<string>edit_transfer_dissolution</string>
		<string>FadeColorWhite</string>
	</array>
	<array>
		<string>黑白叠化</string>
		<string>edit_transfer_dissolution</string>
		<string>FadeGrayScale</string>
	</array>
	<array>
		<string>放大叠化</string>
		<string>edit_transfer_dissolution</string>
		<string>SimpleZoom</string>
	</array>
	<array>
		<string>毛玻璃</string>
		<string>edit_transfer_dissolution</string>
		<string>Morph</string>
	</array>
	<array>
		<string>老电影</string>
		<string>edit_transfer_dissolution</string>
		<string>CircleCrop</string>
	</array>
</array>
</plist>
