<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>旋转</string>
		<string>edit_overlay_rotate</string>
		<string>clickedRotateItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>上下镜像</string>
		<string>edit_overlay_flipy</string>
		<string>clickedFlipYItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>左右镜像</string>
		<string>edit_overlay_flipx</string>
		<string>clickedFlipXItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>变速</string>
		<string>edit_overlay_speed</string>
		<string>clickedSpeedItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>音量</string>
		<string>edit_overlay_volume</string>
		<string>clickedVolumeItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>删除</string>
		<string>edit_overlay_delete</string>
		<string>clickedDeleteItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>淡入淡出</string>
		<string>edit_overlay_fade</string>
		<string>clickedFadeInOutItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>滑入滑出</string>
		<string>edit_overlay_fade</string>
		<string>clickedMoveInOutItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>弹入弹出</string>
		<string>edit_overlay_fade</string>
		<string>clickedJumpInOutItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>旋入旋出</string>
		<string>edit_overlay_fade</string>
		<string>clickedRotateInOutItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>置顶</string>
		<string>edit_overlay_top</string>
		<string>clickedTopItem</string>
		<integer>0</integer>
	</array>
	<array>
		<string>置底</string>
		<string>edit_overlay_bottom</string>
		<string>clickedBottomItem</string>
		<integer>0</integer>
	</array>
</array>
</plist>
